In [19]:
import os
# Activate auto reload 
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

from pyccapt.calibration.leap_tools import leap_tools

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
p = os.path.abspath(os.path.join("", "../../../.."))

## Import .pos

In [36]:
pos = leap_tools.read_pos(p + '\\tests\\data\\data_leap_test\\voldata.pos')

In [37]:
pos

           x (nm)     y (nm)     z (nm)   m/n (Da)
0       -7.853704   0.177746   0.778989  20.934525
1      -11.362803  -0.777752   1.655746  47.877735
2       -4.987985 -18.808384   5.051971  17.838438
3      -20.104198   1.033762   5.434807  20.172239
4      -22.846310   2.005881   7.227716  19.906652
...           ...        ...        ...        ...
581690  12.005523 -10.538718  76.152664   6.003592
581691  18.360214  -5.284429  77.623199   6.099520
581692   5.551716  -9.742305  74.489265  12.014996
581693  12.392248 -12.898662  77.012749  48.198032
581694   9.820406 -14.472337  76.824425  12.002439

[581695 rows x 4 columns]

## Import .epos

In [28]:
epos = leap_tools.read_epos(p + '\\tests\\data\\data_leap_test\\voldata.epos')

In [29]:
epos

,x (nm),y (nm),z (nm),m/n (Da),TOF (ns),HV_DC (V),pulse (V),det_x (cm),det_y (cm),pslep,ipp
0,-7.853704,0.177746,0.778989,20.934525,2372.105469,1997.819946,0.0,-6.872214,1.240525,0,2
1,-11.362803,-0.777752,1.655746,47.877735,3571.510254,1997.819946,0.0,-9.263744,0.512391,0,0
2,-4.987985,-18.808384,5.051971,17.838438,2186.283936,1998.310059,0.0,-4.013373,-13.403062,8455,1
3,-20.104198,1.033762,5.434807,20.172239,2290.781006,1998.310059,0.0,-14.871471,1.995627,4750,1
4,-22.846310,2.005881,7.227716,19.906652,2266.553467,1998.310059,0.0,-16.575781,2.912537,4124,1
...,...,...,...,...,...,...,...,...,...,...,...
581689,6.122859,18.300282,77.723053,70.058533,3145.568115,3826.719971,0.0,5.085438,14.832362,392,1
581690,12.005523,-10.538718,76.152664,6.003592,930.597778,3826.719971,0.0,8.604012,-6.930758,3703,4
581691,18.360214,-5.284429,77.623199,6.099520,942.300049,3826.719971,0.0,13.881872,-3.182216,0,0
581692,5.551716,-9.742305,74.489265,12.014996,1310.366943,3826.719971,0.0,3.161218,-6.040816,0,0
581693,12.392248,-12.898662,77.012749,48.198032,2636.176758,3826.719971,0.0,9.291233,-8.818514,0,0

In [40]:
#percentage of double event per pulse
len(epos.loc[epos.ipp != 1, :]) / float(len(epos))

0.1952796487500301

## Import .rrng

In [44]:
ions, rrngs = leap_tools.read_rrng(p + '\\tests\\data\\data_leap_test\\rangefile.rrng')

In [45]:
ions

         name
number
1           H
2           C
3           O
4          Ca
5          Ga
6          Na
7           N
8          59
9       52pt5
10      44pt5

In [46]:
rrngs

         lower   upper      vol          comp   color
number
1        1.018   1.048  0.00000           H:1  CCCC00
2        5.954   6.053  0.00878           C:1  33CC00
3       11.895  12.110  0.00878           C:1  33CC00
4       12.947  13.040  0.00878           C:1  33CC00
5        6.457   6.544  0.00878           C:1  33CC00
6       15.869  16.071  0.02883           O:1  33CCFF
7       19.838  20.088  0.04351          Ca:1  FFFFCC
8       21.875  22.020  0.04351          Ca:1  FFFFCC
9       39.807  40.182  0.04351          Ca:1  FFFFCC
10      21.450  21.520  0.04351          Ca:1  FFFFCC
11      20.940  21.010  0.04351          Ca:1  FFFFCC
12      68.707  69.134  0.01960          Ga:1  FF3300
13      69.473  70.357  0.18228  Ca:2 C:1 O:3  FFFFCC
14      31.696  32.071  0.05766           O:2  66CCFF
15      55.577  56.230  0.07234      Ca:1 O:1  FFFFCC
16      22.846  23.057  0.03949          Na:1  FF00FF
17      47.726  48.197  0.11584      Ca:2 O:1  FFFFCC
18       6.968   7.028  0.02248           N:1  66FF66
19      13.950  14.040  0.02248           N:1  66FF66
20      58.566  58.960  0.00000       Name:59  FF00FF
21      43.536  44.060  0.06644       C:1 O:2  CCCCCC
22      71.741  72.183  0.10116      Ca:1 O:2  FFFFCC
23       2.024   2.061  0.00000           H:2  FFC800
24      14.893  15.022  0.00878       C:1 H:3  FF0000
25      16.849  17.041  0.02883       O:1 H:1  009999
26      17.849  17.954  0.02883       H:2 O:1  CCCC00
27      18.790  18.963  0.02883       H:3 O:1  FFAFAF
28      27.689  27.949  0.03761       C:1 O:1  666600
29      28.717  28.958  0.03761   C:1 O:1 H:1  00FF00
30      52.310  52.630  0.00000    Name:52pt5  FFC800
31      44.353  44.679  0.00000    Name:44pt5  FF00FF
32      34.185  34.608  0.01960          Ga:1  FF3300

## Assign ion labels

In [47]:
lpos = leap_tools.label_ions(pos, rrngs)

In [48]:
lpos

           x (nm)     y (nm)     z (nm)   m/n (Da)      comp   colour    color
0       -7.853704   0.177746   0.778989  20.934525            #FFFFFF  #FFFFFF
1      -11.362803  -0.777752   1.655746  47.877735  Ca:2 O:1  #FFFFFF  #FFFFCC
2       -4.987985 -18.808384   5.051971  17.838438            #FFFFFF  #FFFFFF
3      -20.104198   1.033762   5.434807  20.172239            #FFFFFF  #FFFFFF
4      -22.846310   2.005881   7.227716  19.906652      Ca:1  #FFFFFF  #FFFFCC
...           ...        ...        ...        ...       ...      ...      ...
581690  12.005523 -10.538718  76.152664   6.003592       C:1  #FFFFFF  #33CC00
581691  18.360214  -5.284429  77.623199   6.099520            #FFFFFF  #FFFFFF
581692   5.551716  -9.742305  74.489265  12.014996       C:1  #FFFFFF  #33CC00
581693  12.392248 -12.898662  77.012749  48.198032            #FFFFFF  #FFFFFF
581694   9.820406 -14.472337  76.824425  12.002439       C:1  #FFFFFF  #33CC00

[581695 rows x 7 columns]

## Deconvolve Complex Ions

In [49]:
dpos = leap_tools.deconvolve(lpos)

In [50]:
dpos

,x (nm),y (nm),z (nm),m/n (Da),comp,colour,color,element,n
171,-22.779808,5.499132,7.589592,5.967736,C:1,#FFFFFF,#33CC00,C,1
190,-0.575580,3.789638,0.191452,12.055182,C:1,#FFFFFF,#33CC00,C,1
744,-12.560311,-10.969646,3.672095,11.928532,C:1,#FFFFFF,#33CC00,C,1
925,-12.094133,-12.736909,4.100381,11.913009,C:1,#FFFFFF,#33CC00,C,1
1018,-12.385739,-15.443144,5.284428,11.926065,C:1,#FFFFFF,#33CC00,C,1
...,...,...,...,...,...,...,...,...,...
581625,-7.864000,1.695500,73.716629,31.986473,O:2,#FFFFFF,#66CCFF,O,2
581630,-18.078995,-3.286279,77.240120,31.933634,O:2,#FFFFFF,#66CCFF,O,2
581646,-20.261984,5.896245,78.727760,31.994251,O:2,#FFFFFF,#66CCFF,O,2
581673,-13.056820,-16.742994,78.810608,31.979967,O:2,#FFFFFF,#66CCFF,O,2
581678,15.587741,-5.651480,76.409912,32.015079,O:2,#FFFFFF,#66CCFF,O,2

In [61]:
df

         lower   upper      vol          comp   color
number
1        1.018   1.048  0.00000           H:1  CCCC00
2        5.954   6.053  0.00878           C:1  33CC00
3       11.895  12.110  0.00878           C:1  33CC00
4       12.947  13.040  0.00878           C:1  33CC00
5        6.457   6.544  0.00878           C:1  33CC00
6       15.869  16.071  0.02883           O:1  33CCFF
7       19.838  20.088  0.04351          Ca:1  FFFFCC
8       21.875  22.020  0.04351          Ca:1  FFFFCC
9       39.807  40.182  0.04351          Ca:1  FFFFCC
10      21.450  21.520  0.04351          Ca:1  FFFFCC
11      20.940  21.010  0.04351          Ca:1  FFFFCC
12      68.707  69.134  0.01960          Ga:1  FF3300
13      69.473  70.357  0.18228  Ca:2 C:1 O:3  FFFFCC
14      31.696  32.071  0.05766           O:2  66CCFF
15      55.577  56.230  0.07234      Ca:1 O:1  FFFFCC
16      22.846  23.057  0.03949          Na:1  FF00FF
17      47.726  48.197  0.11584      Ca:2 O:1  FFFFCC
18       6.968   7.028  0.02248           N:1  66FF66
19      13.950  14.040  0.02248           N:1  66FF66
20      58.566  58.960  0.00000       Name:59  FF00FF
21      43.536  44.060  0.06644       C:1 O:2  CCCCCC
22      71.741  72.183  0.10116      Ca:1 O:2  FFFFCC
23       2.024   2.061  0.00000           H:2  FFC800
24      14.893  15.022  0.00878       C:1 H:3  FF0000
25      16.849  17.041  0.02883       O:1 H:1  009999
26      17.849  17.954  0.02883       H:2 O:1  CCCC00
27      18.790  18.963  0.02883       H:3 O:1  FFAFAF
28      27.689  27.949  0.03761       C:1 O:1  666600
29      28.717  28.958  0.03761   C:1 O:1 H:1  00FF00
30      52.310  52.630  0.00000    Name:52pt5  FFC800
31      44.353  44.679  0.00000    Name:44pt5  FF00FF
32      34.185  34.608  0.01960          Ga:1  FF3300