In [1]:
from relbench.datasets import dataset_names, get_dataset

In [2]:
dataset_names

['rel-amazon', 'rel-stackex', 'rel-fake']

In [3]:
dataset = get_dataset(name="rel-stackex")
dataset

Downloading file 'rel-stackex/db.zip' from 'https://relbench.stanford.edu/staging_data/rel-stackex/db.zip' to '/afs/cs.stanford.edu/u/kexinh/.cache/relbench'.
100%|███████████████████████████████████████| 875M/875M [00:00<00:00, 1.16TB/s]

StackExDataset()

In [4]:
dataset.val_timestamp, dataset.test_timestamp

(Timestamp('2019-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'))

In [5]:
dataset.db.table_dict.keys()

dict_keys(['postHistory', 'users', 'badges', 'comments', 'posts', 'postLinks', 'votes'])

In [6]:
dataset.db.table_dict["posts"].df

,Id,OwnerUserId,LastEditorUserId,PostTypeId,AcceptedAnswerId,ParentId,OwnerDisplayName,LastEditorDisplayName,Title,Tags,ContentLicense,Body,CreationDate
0,0,7,<NA>,1,15.0,<NA>,None,None,Eliciting priors from experts,<bayesian><prior><elicitation>,CC BY-SA 2.5,<p>How should I elicit prior distributions fro...,2010-07-19 19:12:12
1,1,20,<NA>,1,59.0,<NA>,None,user88,What is normality?,<distributions><normality-assumption>,CC BY-SA 2.5,<p>In many different statistical methods there...,2010-07-19 19:12:57
2,2,15,153,1,5.0,<NA>,None,None,What are some valuable Statistical Analysis op...,<software><open-source>,CC BY-SA 2.5,<p>What are some valuable Statistical Analysis...,2010-07-19 19:13:28
3,3,19,<NA>,1,135.0,<NA>,None,None,Assessing the significance of differences in d...,<distributions><statistical-significance>,CC BY-SA 2.5,<p>I have two groups of data. Each with a dif...,2010-07-19 19:13:31
4,4,19,19,2,NaN,2,None,None,None,None,CC BY-SA 2.5,"<p>The R-project</p>\n\n<p><a href=""http://www...",2010-07-19 19:14:43
...,...,...,...,...,...,...,...,...,...,...,...,...,...
333888,333888,216594,<NA>,2,NaN,320668,None,None,None,None,CC BY-SA 4.0,<p>There's no difference in the data to which ...,2020-12-31 23:07:13
333889,333889,211389,<NA>,1,NaN,<NA>,None,None,Is pairwise multiple comparisons necessary wit...,<r><regression><anova><multiple-comparisons><a...,CC BY-SA 4.0,"<p>I have two groups, young and old and within...",2020-12-31 23:20:34
333890,333890,255347,255347,2,NaN,28011,None,None,None,None,CC BY-SA 4.0,<p>The following is taken from my manuscript o...,2020-12-31 23:51:21
336550,336550,<NA>,<NA>,1,507323.0,<NA>,John Paul,None,types of t tests for hypothesis testing,<t-test>,CC BY-SA 4.0,<p>I am confused about the difference between ...,2020-12-07 11:18:05
336551,336551,116272,116272,2,NaN,336550,David M.,None,None,None,CC BY-SA 4.0,<p>Both formulae refer to the two-sample t-tes...,2020-12-19 15:39:16

In [7]:
dataset.task_names

['rel-stackex-engage', 'rel-stackex-votes']

In [8]:
task = dataset.get_task("rel-stackex-engage")

Downloading file 'rel-stackex/tasks/rel-stackex-engage.zip' from 'https://relbench.stanford.edu/staging_data/rel-stackex/tasks/rel-stackex-engage.zip' to '/afs/cs.stanford.edu/u/kexinh/.cache/relbench'.
100%|███████████████████████████████████████| 904k/904k [00:00<00:00, 1.15GB/s]

In [9]:
task.train_table

Table(df=
       OwnerUserId  timestamp  contribution
0                0 2017-01-01             1
1                2 2017-01-01             0
2                4 2017-01-01             0
3                5 2017-01-01             1
4                6 2017-01-01             0
...            ...        ...           ...
75489         7694 2011-01-03             0
75490         9120 2011-01-03             1
75491         9608 2011-01-03             0
75492        13694 2011-01-03             1
75493        17938 2011-01-03             0

[75494 rows x 3 columns],
  fkey_col_to_pkey_table={'OwnerUserId': 'users'},
  pkey_col=None,
  time_col=timestamp)

In [10]:
task.train_table.df

       OwnerUserId  timestamp  contribution
0                0 2017-01-01             1
1                2 2017-01-01             0
2                4 2017-01-01             0
3                5 2017-01-01             1
4                6 2017-01-01             0
...            ...        ...           ...
75489         7694 2011-01-03             0
75490         9120 2011-01-03             1
75491         9608 2011-01-03             0
75492        13694 2011-01-03             1
75493        17938 2011-01-03             0

[75494 rows x 3 columns]

In [11]:
task.val_table.df

       OwnerUserId  timestamp  contribution
0                0 2019-01-01             1
1                2 2019-01-01             0
2                4 2019-01-01             0
3                5 2019-01-01             0
4                6 2019-01-01             0
...            ...        ...           ...
67186       209499 2019-01-01             0
67187       221994 2019-01-01             0
67188       241823 2019-01-01             1
67189       247436 2019-01-01             1
67190       290585 2019-01-01             0

[67191 rows x 3 columns]

In [12]:
task.test_table.df

       timestamp  OwnerUserId
0     2021-01-01            0
1     2021-01-01            2
2     2021-01-01            4
3     2021-01-01            5
4     2021-01-01            6
...          ...          ...
88132 2021-01-01       255347
88133 2021-01-01       256968
88134 2021-01-01       268097
88135 2021-01-01       278663
88136 2021-01-01       290585

[88137 rows x 2 columns]

In [13]:
import numpy as np

pred = np.array([0] * len(task.test_table.df))
task.evaluate(pred)

{'average_precision': 0.08228099436105155,
 'accuracy': 0.9177190056389485,
 'f1': 0.0,
 'roc_auc': 0.5}

In [14]:
task = dataset.get_task("rel-stackex-votes")
task.train_table, task.val_table, task.test_table

Downloading file 'rel-stackex/tasks/rel-stackex-votes.zip' from 'https://relbench.stanford.edu/staging_data/rel-stackex/tasks/rel-stackex-votes.zip' to '/afs/cs.stanford.edu/u/kexinh/.cache/relbench'.
100%|█████████████████████████████████████| 1.28M/1.28M [00:00<00:00, 1.94GB/s]

(Table(df=
         PostId  timestamp  popularity
 0       152675 2018-07-05           0
 1       152676 2018-07-05           0
 2       152677 2018-07-05           0
 3       152679 2018-07-05           0
 4       152681 2018-07-05           0
 ...        ...        ...         ...
 389884   14465 2010-08-16           0
 389885   14602 2010-08-16           1
 389886   14602 2010-02-17           0
 389887   14602 2009-08-21           0
 389888   14602 2009-02-22           0

 [389889 rows x 3 columns],
   fkey_col_to_pkey_table={'PostId': 'posts'},
   pkey_col=None,
   time_col=timestamp),
 Table(df=
        PostId  timestamp  popularity
 0      173562 2019-01-01           1
 1      173563 2019-01-01           0
 2      173564 2019-01-01           0
 3      173565 2019-01-01           1
 4      173568 2019-01-01           0
 ...       ...        ...         ...
 40720  255474 2019-01-01           0
 40721  255477 2019-01-01           0
 40722  255480 2019-01-01           0
 40723  255481 2019-01-01           0
 40724  258394 2019-01-01           0

 [40725 rows x 3 columns],
   fkey_col_to_pkey_table={'PostId': 'posts'},
   pkey_col=None,
   time_col=timestamp),
 Table(df=
        timestamp  PostId
 0     2021-01-01  255532
 1     2021-01-01  255533
 2     2021-01-01  255534
 3     2021-01-01  255535
 4     2021-01-01  255537
 ...          ...     ...
 40058 2021-01-01  333881
 40059 2021-01-01  333883
 40060 2021-01-01  333884
 40061 2021-01-01  333885
 40062 2021-01-01  333889

 [40063 rows x 2 columns],
   fkey_col_to_pkey_table={'PostId': 'posts'},
   pkey_col=None,
   time_col=timestamp))